@media(max-width: 500px) {

    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
        float: right;
        border-radius: 5px;
        background-color: darkturquoise;
        width: 18%;
        opacity: 0.9;
    }

    .menu-icon:hover {
        opacity: 1.0;
    }
}

@media(min-width: 768px) and (max-width: 1020px) {
    * {
        width: 98%;
        margin: 0 1%;
    }

    article {
        width: 100%;
        margin: 0 auto;
    }

    .title-logo {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .window {
        display: inline-block;
        width: 10%;
        margin: 0 auto;
    }

    .container h1 {
        font-size: 36px;
    }

    .container p {
        font-size: 19px;
    }

    .btn {
        margin-top: 5px;
        width: 50%;
    }
}