*{
    box-sizing: border-box;
}

nav{
    position: relative;
    top:40px; left:50px;
}

li{
    display: inline-block;
    width:240px; height:35px;
    list-style-type: none;
    font-size: 18px;
    text-shadow:5px 3px darkgray;
}

body{
    font-family: "Arial",'メイリオ';
}

a{
    position: relative;
    text-decoration: none;
}

a:link{
    color: whitesmoke;
}

a:visited{
    color: aquamarine;
}

a:active{
    text-shadow: none;
    position: relative;
    top: 3px;
    left: 5px;
}

h2{
    font-size: 18px;
    color: blueviolet;
}
header{
    width: 100%;
    height: 100px;
    border: 0px;
    margin-bottom: 0px;
    background-image: url("1500x500.jpg");
}
.header-left{
    float: left;
    font-size: 36px;
    color: rgb(105, 87, 69);
}

main{
    width: 100%;
    height: 450px;
}
footer{
    width: 100%;
    height: 40px;
    border: 0px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}
.copyright{
    font-size: 24px;
    text-align: right;
    color: skyblue;
}

.form-text {
    height: 24px;
    border-radius: 6px;
}

.submit-botton{
    height: 24px;
    border-radius: 6px;
    background-color:gainsboro;
}
