* {
  box-sizing: border-box;
}

ul {
  display: flex;
  margin: 0px;
  padding: 0;
  text-align: center;
  line-height: 48px;
}

li {
  font-size: 24px;
  list-style: none;
  background-color: yellow;
  border: 1px solid #000;
  flex: auto;
}

.A {
  background-color: yellowgreen;
}

@media(max-width:1000px) {
  
  ul {
    flex-wrap: wrap;
  }

  li {
    width: 50%;
    font-size: 14px;
  }
}

@media(max-width:670px) {
  ul {
    flex-direction: column;
  }

  li {
    font-size: 12px;
    margin: 0 auto;
  }
}